body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #FFB3BA, #FFDFBA, #FFFFBA, #BAFFC9, #BAE1FF);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 24px);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background: #42a5f5;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background 0.3s;
}

button:hover {
    background: #1e88e5;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li span {
    flex-grow: 1;
    text-align: left;
}

ul li button {
    background: #ef5350;
    margin: 0;
}

ul li button:hover {
    background: #e53935;
}